.item-index-page {
  .search-input {
    margin: 10px;
  }

  .table-headers {
    color: $dark;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
    border-bottom: 1px solid $item-light-border;
  }

  .without-items {
    margin-top: 100px;
    color: $base-grey;
    text-align: center;
    font-family: Montserrat-Light;

    p {
      margin-bottom: 5px;
    }
  }
}
