.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
.col-offset-15 {
    margin-left: 15%;
}
.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}
.col-offset-5 {
    margin-left: 5%;
}

.item-title {
  font-family: Montserrat-Light;
  font-weight: normal;
  padding-top: 10px;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}

.add-icon {
  cursor: pointer;
  display: flex;
  font-size: 35px;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.item-form-container {
  margin: auto;
  margin-top: 0px;
  width: 90%;
}

.input-label-lg {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 90%;
    color: #888;
    font-size: 16px;
}

// Pendiente
.square-img {
  width: 40px;
}
