input {
  font-family: Montserrat-Light;
}

.item-input {
  padding: 6px 0 5px 5px;
  margin-bottom: 2px;
  // hide borders
  border-left: none;
  border-right: none;
  border-top: none;

  &--no-borders {
    border-bottom: none;
  }
}

.txt-area-input{
  white-space: pre-wrap;
  min-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: auto;
  font-family: Montserrat-Light;
}
