ion-content
  .profile-index
    .address-container(ng-repeat="address in ::pfaVm.addresses")
      .edit
        link-button(on-click="address.id" text="{{::('profile.addresses.buttonEdit'|translate)}}")
      .name {{address.nombre}}
      table
        tr
          th {{::('profile.addresses.city'|translate)}}
          th {{address.ciudad}}
        tr
          td {{::('profile.addresses.parish'|translate)}}
          td {{address.parroquia}}
        tr
          td {{::('profile.addresses.neighborhood'|translate)}}
          td {{address.barrio}}
        tr
          th {{::('profile.addresses.addressOne'|translate)}}
          th {{address.direccion_uno}}
        tr
          td {{::('profile.addresses.addressTwo'|translate)}}
          td {{address.direccion_dos}}
        tr
          td {{::('profile.addresses.zipCode'|translate)}}
          td {{address.codigo_postal}}
        tr
          td {{::('profile.addresses.reference'|translate)}}
          td {{address.referencia}}
        tr
          td {{::('profile.addresses.telephoneNumber'|translate)}}
          td {{address.numero_convencional}}

