.provider-profile-section(
  ng-repeat="providerProfile in cartVm.cart.provider_profiles track by $index"
)
  .provider-profile--title
    | {{ ::providerProfile.nombre_establecimiento }}
  .delivery-address
    span.title-placeholder
      | {{ ::("cart.deliveryPlaceholder" | translate) }}
  .provider-items-in-cart
    slick-item(settings="cartVm.slickSettings" data="providerProfile")
