ion-content.profile-page.responsive-md
  .text-center
    link-button(on-click="piVm.showNewModal(piVm.user)" text="{{::('globals.edit'|translate)}}")
  .col.col-offset-25.col-50
    .row
      .col.col-label {{::("user.name"|translate)}}
      .col {{piVm.user.name}}
    .row
      .col.col-label {{::("user.email"|translate)}}
      .col {{piVm.user.email}}
    .row
      .col.col-label {{::("user.age"|translate)}}
      .col {{piVm.user.fecha_nacimiento | age}}

    .row
      .col.col-label {{::("user.country"|translate)}}
      .col {{piVm.user.ciudad}}

    .row
      .col.col-label {{::("user.password"|translate)}}
      .col ********
