div(ng-if='seVm.arrayMessages.length > 0')
  div(ng-repeat='message in seVm.arrayMessages track by $index' class='show-errors')
<<<<<<< HEAD
    span(class='message-error') {{ message }}
=======
    span(class='message-error') {{ message }}
>>>>>>> Manage items from providers
