ion-view(
  view-title='{{::("client.clients"|translate)}}'
)
  ion-content.client-page
    .row
      .col.col-75.col-offset-5
        h4.client-title {{::("client.listOfClients"|translate)}}
      .col.col-15.client-add-icon
        i(class='icon ion-plus-circled', ng-click="clientsVm.openModal()")
    .row.col.col-offset-5.col-90.col-offset-5
      label.item.item-input
        i.icon.ion-search.placeholder-icon
        input(ng-model="clientsVm.query" type="text" placeholder="Buscar")
      list
        a(ng-repeat="client in clientsVm.clients | filter: clientsVm.query", class="item", ng-click="clientsVm.showActionSheet(client)")
          h2 {{ client.nombres }}
          p {{ client.ruc }}
    script(id='my-modal-client.html', type='text/ng-template')
        ion-modal-view
          ion-header-bar.bar.bar-header.bar-light
            h4(ng-hide="clientsVm.client.id").title {{::("globals.new"|translate)}} {{::("client.client"|translate)}}
            h4(ng-show="clientsVm.client.id").title {{::("globals.edit"|translate)}} {{::("client.client"|translate)}}
            button(class='button ion-chevron-left button-clear', ng-click='clientsVm.closeModal()')  Cancelar
          ion-content.client-page
            .row(ng-include="'templates/client/new-edit.html'")
