.show-profile-page {
  font-family: Montserrat-Light;

  .profile-header {
    .img-profile {
      display: block;
      margin: auto;
      max-width: 140px;
      max-height: 140px;
      border-radius: 50%;
    }

    .user-name {
      text-align: center;
      font-size: 26px;
      margin: 15px 0;
      color: $dark;
    }
  }

  .actions-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
